<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secret</key>
	<string>736ff72de82354c5af8db749f4249a0bd2249520</string>
	<key>id</key>
	<string>ea414f75cf2de7c1ebb5</string>
</dict>
</plist>
